/* 
    Document   : query
    Created on : 2013/5/9, 下午 05:52:27
    Author     : J-401-173
    Description:
        Purpose of the stylesheet follows.
*/

.dataInput{
    float: left;
    margin: 0px 0px 0px 20px;
}
